@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./styles/variables.css');
@import url('./styles/null.css');

#root{
  height: 100%;
}

.container{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}