.navbar {
  background: #17171e;
  max-width: 235px;
  width: 100%;
  height: 100%;
  padding: 10px;
  margin-top: 55px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;


  &__row {
    padding: 12px 0;
    &:not(:last-child) {
      border-bottom: 1px solid;
      border-color: #d9d9d9;
    }
  }

  &__row-title {
    padding: 12px;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
  }

  &__row-list {
  }
}

.navbar-list {
  &__item {
  }

  &__link {
    height: 40px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    gap: 14px;
    color: #ededf2;
    transition: 0.4s ease;
    border-radius: 15px;
    &:hover {
      background: rgba(#fff, 0.1);
    }
    &:active {
      background: rgba(#fff, 0.3);
    }
  }

  &__icon {
  }

  &__status {
    display: inline-block;
    margin-left: auto;
    width: 5px;
    height: 5px;
    background: orangered;
    border-radius: 100%;
    &--stream {
      background: #ff0000;
    }
    &--newVideo {
      background: #2c92f0;
    }
  }
}
