* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 100%;
}

body {
  font-variant: lining-nums;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

  input,
button,
textarea {
  font-variant: lining-nums;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}
button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}
a {

  color: inherit;
  display: inline-block;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
img {
  width: inherit;
  height: inherit;
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}